@model Shop.Models.CheckoutModel

@{
    ViewBag.Title = "Checkout";
}

<h2>Checkout</h2>
<hr />

@using (Html.BeginForm("ConfirmCheckout", "Cart"))
{
    <div class="container">

        <table class="table table-striped table-condensed" id="articlesCart">
            <thead>
                <tr>
                    <th>
                        @Html.DisplayNameFor(model => model.Articles[0].Name)
                    </th>
                    <th></th>
                    <th>
                        @Html.DisplayNameFor(model => model.Articles[0].Value)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Articles[0].Quantity)
                    </th>
                    <th>
                        @Html.DisplayNameFor(model => model.Articles[0].Total)
                    </th>
                    <th style="width: 120px"></th>
                </tr>
            </thead>
            <tbody />
            @{
    Html.RenderAction("Checkout");
            }
        </table>
        <hr />
        <button type="submit" class="btn btn-success">
            <span class="glyphicon glyphicon-check"></span> Checkout
        </button>
    </div>
}